{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_personnes</th>
                <th>Heure_reservation</th>
                <th>Date_de_reservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nombrePersonnes }}</td>
                <td>{{ reservation.heureReservation ? reservation.heureReservation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.dateDeReservation ? reservation.dateDeReservation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_show', {'id': app.user.id}) }}}">Create new</a>
{% endblock %}
