{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <div class="carousel carousel-slider">
      {% for pictureRestaurants in restaurant.pictureRestaurant %}

        <a class="carousel-item" href="#one!">
          <img src={{asset("/uploads/picture_restaurant/" ~ pictureRestaurants)}}>
        </a> 
        {# <a class="carousel-item" href="#two!"><img src="/images/prince/20032021095555-menu1.webp"></a>
        <a class="carousel-item" href="#three!"><img src="/images/rongefer/atelier-rongefer-charlieu-5.jpg"></a>
        <a class="carousel-item" href="#four!"><img
                src="/images/troisgros/T_20210811050858_t-20190224030253-c-sar-leo-et-michel-troisgros-felix-ledru.jpg"></a> #}
      {% endfor %}
    </div>
    {% for message in app.flashes('success') %}
        <div class="messagemodif">
            <div class="alert alert-success" id="alertemodif">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="carouselrestaurant">
        <h3>{{ restaurant.nomRestaurant }}</h3>
        <div class="container" id="presentation">

            <div class="decouvrir">
                <div class="row">
                    <div class="col s12" id="descriptif">
                        <h6>
                            " {{ restaurant.description }}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="information">
                <div class="row">
                    <div class="col s12 ">
                        <div class="apropotitle">
                            <h4>À propos de nous ..</h4>
                        </div>
                        <div class="textinfo">
                        <div class="renseignement">
                            <div class="col s12 m6" id="renseingments">
                                <P><span class="mapsloc">Adresse</span> <i class="fa fa-map-marker" aria-hidden="true" style="color: #70776e;"></i> {{ restaurant.adresseRestaurant }} | {{ restaurant.codepostalRestaurant }}</p>                     
                            </div>
                            <div class="col s12 m6" id="renseingments">
                                <h6><i class="fa fa-phone" aria-hidden="true" style="color: #70776e;"></i> {{ restaurant.telephoneRestaurant }}</h6>                     
                            </div>
                      </div>
                        <div class="options">
                        <p>Nos options </p>
                            <div class="col s12 ">
                            <h6><i class="fa fa-car" aria-hidden="true" style="color: #70776e;"></i> {{ restaurant.parking ? ' Parking gratuit' : 'Pas de Parking' }}</h6>
                                
                            </div>
                            <div class="col s12 ">
                            <h6><i class="fa fa-snowflake-o" aria-hidden="true" style="color: #70776e;"></i> {{ restaurant.climatisation ? 'Climatisation' : 'Pas de climatisation' }}</h6>     
                            </div>
                            <div class="col s12 ">
                            <h6><i class="fa fa-paw" aria-hidden="true" style="color: #70776e;"></i> {{ restaurant.animaux ? 'Accepte les animaux' : 'Animaux pas accepté' }}</h6>                     
                            </div>
                            <div class="col s12 ">
                                <h6><i class="fa fa-wheelchair" aria-hidden="true" style="color: #70776e;"></i> {{restaurant.accesHandicape ?  'Accès handicapés' : 'Pas Accès handicapés' }}</h6>                     
                            </div>
                        </div>
                        </div>
                    </div>
                   
                    <div class="col s12">
                        <div class="menutitle">
                            <h4>Avant-goût de nos menus</h4>
                        </div>
                        <div class="menu_tarif">      
                        {% for menu in menus %}
                        <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header" style="text-transform: uppercase;" id="listmenucarte"><i class="material-icons" style="color: #d0c07a;">room_service</i>"{{ menu.nomMenu }}"</div>
                            <div class="collapsible-body" id="detailmenu">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="detailtitre">Entrées</p>
                                        <p>{{ menu.entrer }}</p>
                                      <span style="color:#d0c07a;">ou</span>
                                        <p>{{ menu.entrer2 }}</p>
                                    </div>
                                    <div class="col s12"> 
                                        <p class="detailtitre">Plats</p>
                                        <p>{{ menu.plats }}</p>
                                        <span style="color:#d0c07a;">ou</span>
                                        <p>{{ menu.plats2 }}</p>
                                    </div>
                                    <div class="col s12"> 
                                        <p class="detailtitre">Desserts</p>
                                        <p>{{ menu.dessert }}</p>
                                        <span style="color:#d0c07a;">ou</span>
                                        <p>{{ menu.Dessert2 }}</p>
                                    </div>
                                  
                                    <div class="col s12">  
                                    <hr class="lignemenu">
                                        <p class="detailtitre">Menu à {{ menu.prix }}€</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </ul>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--FIN INFORMATIONS-->
   <!-- RESERAVTIONS-->        
            <div class="reserver">
                <div class="titlereserver">
                    <h3>Reservations</h3>
                </div>
                <div class="form">
                        <div class="formulaire">
                          <form>
                            <div class="row">
                                <div class="col s12 m6">
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <i class="material-icons prefix"style="color: #d0c07a;">account_circle</i>
                                      <input type="text" id="autocomplete-input" class="autocomplete">
                                      <label for="autocomplete-input">Nom</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m6">
                                    <div class="row">
                                      <div class="input-field col s12">
                                        <i class="material-icons prefix"style="color: #d0c07a;">restaurant</i>
                                        <input type="number" id="autocomplete-input" class="autocomplete">
                                        <label for="autocomplete-input">Nombre de Personnes</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col s12 m6">
                                    <div class="row">
                                      <div class="input-field col s12">
                                        <i class="material-icons prefix"style="color: #d0c07a;">access_time</i>
                                        <input type="datetime" id="autocomplete-input" class="autocomplete">
                                        <label for="autocomplete-input">Heure</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col s12 m6">
                                    <div class="row">
                                      <div class="input-field col s12">
                                        <i class="material-icons prefix"style="color: #d0c07a;">access_time</i>
                                        <input type="date" id="autocomplete-input" class="autocomplete">
                                        <label for="autocomplete-input">Date</label>
                                      </div>
                                    </div>
                                  </div>       
                                  <button class="btn waves-effect btn-small" style="background-color: rgba(0, 0, 0, 0.863) ; width: 300px; " type="submit" name="action">Reserver
                                    <i class="material-icons right">check</i>
                                </button>
                                <div class="condition">
                                <p>* Conditions :
                                <br>
                                Tout retard de plus de 30 minutes effectura une annulation automatique par le restaurant.
                                <br>
                                Merci de prendre contact avec le restaurant si un retard et à prévoir.
                                </p>
                              </div>
                            </div>
                                  
                          </form>
                        </div>
                </div>
            </div>
        </div> 
    </div>
     
           
  

    {# <a href="{{ path('restaurant_index') }}">back to list</a> #}

    {# <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a> #}

    {# {{ include('restaurant/_delete_form.html.twig') }} #}
{% endblock %}
