<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HouseDîner{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
        <link href="{{ asset ("assets/css/style.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/compte.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/inscription.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/restaurant.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/profil.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/restaurateur_profil.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/menu.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/temoignage.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/reservation.css")}}"rel="stylesheet">
        <link href="{{ asset ("assets/css/contact.css")}}"rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>

<!--NAVBAR-->
<header>
    <!--SI User connecter-->
    <ul id="dropdown1" class="dropdown-content">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{path('user_edit', { 'id' : app.user.id})}}"style="color:white; background-color:#a5a58d">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}"style="color:white; background-color:#a5a58d">Deconnexion</a></li>
        {% endif %}
          <!--FIN SI User connecter-->
    </ul>
    <nav>
        <div class="nav-wrapper black">
            <a href="{{path('home')}}" class=" center brand-logo" id="logo">HouseDîner</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') == true %}
                <li><a href="{{path('app_login')}}">Connexion</a></li>
                <li><a href="#decohome">Listes de nos restaurants</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                
                <li><a href="/#decohome">Les restaurants</a></li> 
            {% if is_granted('ROLE_RESTAURATEUR') %}
                 
                    <li><a href="{{path('restaurant_new', { 'id' : app.user.id})}}">Créer mon restaurant</a></li>
               
            {% endif %}
            {% if app.user %}
                 <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ app.user.prenom }}.{{ app.user.nom }}<i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}    
            {% endif %}    

             </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
        <div class="background" style="background-color:#a5a58d;">
        
        </div>
         {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') == true %}
            <li><a href="{{path('app_login')}}"><i class="material-icons">account_circle</i>Connexion</a></li>
            <li><a href="#decohome"><i class="material-icons">store</i>Nos Restaurants</a></li>
          {% endif %} 
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="#user"id="picturesidenav"><img class="circle" src={{asset("/uploads/picture_profil/" ~ app.user.picture)}}></a>
        <a href="#name"><span class="white-text name"id="nameside">{{ app.user.prenom }}.{{ app.user.nom }}</span></a>
        <a href="#email"style="text-align:center; font-"><span class="white-text email">{{ app.user.username }}</span></a>
        {% endif %} 
        </div>
    </li>
     {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{path('user_edit', { 'id' : app.user.id})}}"><i class="material-icons">assignment_ind</i>Mon profil</a></li>
        <li><a href="/#decohome"><i class="material-icons">store</i>Les restaurants</a></li>
        <li><div class="divider"></div></li>
         {% if not is_granted('ROLE_RESTAURATEUR') == false %}
        <li><a href="{{path('user_edit', { 'id' : app.user.id})}}"><i class="material-icons">add</i>Créer mon restaurant</a></li>
      {% endif %}
        <li><a href="{{ path('app_logout') }}"><i class="material-icons">phonelink_erase</i>Deconnexion</a></li>
        <li><a href="{{ path('contact') }}"><i class="material-icons">contact_mail</i>Nous contacter</a></li>
        {# <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> #}
     {% endif %} 
   
     {#  <!--SI User connecter-->
     {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{path('user_edit', { 'id' : app.user.id})}}"><i class="material-icons">assignment_ind</i>Mon Profil</a></li>
      {% if not is_granted('ROLE_RESTAURATEUR') == false %}
        <li><a href="{{path('user_edit', { 'id' : app.user.id})}}"><i class="material-icons">add</i>Créer mon restaurant</a></li>
      {% endif %}
        <li><a href="{{ path('app_logout') }}"><i class="material-icons">phonelink_erase</i>Deconnexion</a></li>
    {% endif %} #}
     <!--FIN SI User connecter-->
    </ul>
</header>
<!--FIN NAVBAR--> 
</head>
<body>
        {% block body %} {% endblock %}      

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ asset ("assets/JS/navbar.js")}}"></script>
    <script src="{{ asset ("assets/JS/carouselhome.js")}}"></script>
    <script src="{{ asset ("assets/JS/accordion.js")}}"></script>
    <script src="{{ asset ("assets/JS/animation.js")}}"></script>
    <script src="{{ asset ("assets/JS/carouserestaurant.js")}}"></script>
    <script src="{{ asset ("assets/JS/profil.js")}}"></script>
    {% block javascripts %}

    {% endblock %}
<!----------------FOOTER-------------------->
<footer>
    <div class="footer">
        <div class="row footercontact ">
            <div class="col s12 m6 contact">
                <h6>Contact</h6>
                <hr>
                <a href="{{ path('contact') }}" class="logocontact"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> |<a class="logocontact" target="_blank" href="https://goo.gl/maps/NtRw1YevoPBfU2Db9"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
            </div> 
            <div class="col s12 m6 contact">
                <h6>HouseDîner</h6>
                <hr>
                  {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="logocontact" href="#decohome"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> List de nos restaurants</a> 
                |<a class="logocontact" href="{{path ('app_login')}}"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Connexion</a> 
                <br>
                 {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                 <a href="{{path('user_edit', { 'id' : app.user.id})}}"style="color:white"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>  Mon Profil</a>
                | <a href="{{ path('app_logout') }}"style="color:white; background-color:black"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Deconnexion</a>
                {% endif %}
            </div>
            <div class="col s12 m12 copyright">
                <p>Copyright © 2021 <a class="pub" href="http://ff-portfolio.projets.simplon-roanne.com/">Florencia
                    Fernandes</a> | Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer> 
<!----------------FIN FOOTER-------------------->
</body>
</html>
