{{ form_start(form) }}

    <div class="col s12">
    {{ form_label(form.commentaire) }}
    {{ form_widget(form.commentaire) }}
    </div>
       <div class="col s12">
    {{ form_label(form.note) }}
    {{ form_widget(form.note) }}
    </div>
    <div class="col s12" id="envoyercom">
    <button class="btn waves-effect btn-small" style="background-color: rgba(0, 0, 0, 0.863) ; width: 100%; " id="envoyercom">{{ button_label|default('Envoyer') }}</button>
    </div>


{{ form_end(form) }}
